<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.springboot.AI.IJobService">

  <select id="getJobRoleList" resultType="com.edu.springboot.AI.JobRoleDTO">
    SELECT
      JOB_ID,
      JOB_NAME,
      JOB_DESC
    FROM JOB_ROLE
    ORDER BY JOB_NAME
  </select>

</mapper>